Flask                     # The Flask framework for creating the web server
mysql-connector-python    # MySQL connector library to interact with the MySQL database
docker                    # Docker SDK for Python to interact with Docker containers
