[mysqld]
log_error = /var/log/mysql/error.log    # Log errors to a file
general_log = 1                         # Enable general query logging
general_log_file = /var/log/mysql/general.log
slow_query_log = 1                      # Enable slow query logging
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2                     # Threshold for slow queries (in seconds)
